<md-content layout="row" style="margin-bottom: 5px">
  <span flex></span>
  <about flex="80" flex-sm="100" flex-xs="100" class="about-container md-whiteframe-2dp" layout="row"></about>
  <span flex></span>
</md-content>
{{> mainscripts}}
<script src="../app/layout/signup/aboutDirective.js"></script>
