<md-content layout="row">
  <span flex></span>
  <content flex="80" flex-lt-lg="100"></content>
  <span flex></span>
</md-content>
{{> mainscripts}}
<script src="../app/layout/article/articleDirective.js"></script>
