<md-content layout="row">
  <span flex></span>
  <blog flex="80" flex-lt-lg="100"></blog>
  <span flex></span>
</md-content>
{{> mainscripts}}
<script src="app/layout/blog/blogDirective.js"></script>
