<md-content layout="row">
  <span flex></span>
  <tedcruz style="max-width: 960px; width: 90%" layout="column"></tedcruz>
  <span flex></span>
</md-content>
{{> mainscripts}}
<script src="app/layout/maptool/mappingDirective.js"></script>
