<md-content layout="row">
  <span flex></span>
  <div flex="80" flex-lt-lg="100" layout="column">
    <div layout="row">
      <span flex></span>
      <div><p class="error_title">404</p></div>
      <span flex></span>
    </div>
    <div layout="row">
      <span flex></span>
      <div><h1 class="error_subtitle"><em>Page Not Found</em></h1></div>
      <span flex></span>
    </div>
    <div layout="row">
      <span flex></span>
      <div><p class="error_description">We can't find that... Instead check out the <a href="/blog">blog</a> or <a href="/gallery">gallery</a>! Or just go back to the <a href="/">homepage</a>.</p></div>
      <span flex></span>
    </div>
  </div>
  <span flex></span>
</md-content>
