<md-content layout="row">
  <span flex></span>
  <search flex="80" flex-lt-lg="100"></search>
  <span flex></span>
</md-content>
{{> mainscripts}}
<script src="../app/layout/search/searchDirective.js"></script>
