<md-content layout="row">
  <span flex></span>
  <mapping-tool style="max-width: 960px; width: 90%" layout="column"></mapping-tool>
  <span flex></span>
</md-content>
{{> mainscripts}}
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/raphael/raphael.min.js"></script>
<script src="../lib/jquery.usmap.js"></script>
<script src="app/layout/maptool/mappingDirective.js"></script>
