<md-content layout="row">
  <span flex></span>
  <state style="max-width: 960px; width: 90%" layout="column"></state>
  <span flex></span>
</md-content>
{{> mainscripts}}
<script src="../app/layout/states/stateDirective.js"></script>
