<md-content layout="row">
  <span flex></span>
  <tools flex="80" flex-lt-lg="100"></tools>
  <span flex></span>
</md-content>
{{> mainscripts}}
<script src="app/layout/tools/toolsDirective.js"></script>
