
<div layout="row" layout-xs="column" class="tool-title">
  <div flex-gt-xs="60" class="senTool-title" layout="column">
    <h2>Find Your Congressperson, and Bug Them.</h2>
    <p>Is there an issue that you are particularly passionate about? Is there something you agree or disagree with your Congressperson on? <em>Let them know.</em> Select your state below to find your legislator's mail, phone, and social media contact information and speak your mind.</p>
    <h3><a href="/bug-your-senator" class="emph" style="text-decoration: none">I want to bug my senator instead</a></h3>
    <img style="width:100%" src="../img/tools/senate/outreach.png" alt="outreach"/>
  </div>
  <signup-tool></signup-tool>
</div>
<div id="map-container" layout="column" layout-margin>
  <div id="map"></div>
</div>
<div layout="row">
  <span flex></span>
  <span><b>Help Someone Else Bug Their Congressperson</b></span>
  <span flex></span>
</div>
<div layout="row">
  <span flex></span>
  <span><p>Share this page with the buttons below.</p></span>
  <span flex></span>
</div>
<div layout="row">
  <span flex></span>
  <div class="social_media_buttons">
    <md-button class="md-fab md-mini md-primary" aria-label="Tweet this post" style="background-color: #55acee">
      <md-tooltip>Tweet this post</md-tooltip>
      <a href="#"
      socialshare
      socialshare-provider="twitter"
      socialshare-text="Bug your congressperson via @dataonpolitics"
      socialshare-url="http://dataonpolitics.com/bug-your-congressperson">
        <img class="social_icon" src="../img/icons/twitter.png" alt="twitter"/>
      </a>
    </md-button>
    <md-button class="md-fab md-mini" aria-label="Share on Facebook" style="background-color: #3b5998">
      <md-tooltip>Share on Facebook</md-tooltip>
      <a href="#"
      socialshare
      socialshare-provider="facebook"
      socialshare-url="http://dataonpolitics.com/bug-your-congressperson">
        <img class="social_icon" src="../img/icons/facebook.png" alt="facebook"/>
      </a>
    </md-button>
    <md-button class="md-fab md-mini md-primary" aria-label="Pin this post" style="background-color: #bd2026">
      <md-tooltip>Pin this post</md-tooltip>
      <a href="#"
      socialshare
      socialshare-provider="pinterest"
      socialshare-text="Bug your congressperson"
      socialshare-media="http://dataonpolitics.com/img/tools/graphics/congressConnect.png"
      socialshare-url="http://dataonpolitics.com/bug-your-congressperson">
        <img class="social_icon" src="../img/icons/pintrest.png" alt="twitter"/>
      </a>
    </md-button>
    <md-button class="md-fab md-mini md-primary" aria-label="Post on Tumblr" style="background-color: #35465d">
      <md-tooltip>Post on Tumblr</md-tooltip>
      <a href="#"
      socialshare
      socialshare-provider="tumblr"
      socialshare-text="Bug your congressperson"
      socialshare-media="http://dataonpolitics.com/img/tools/graphics/senateConnect.png"
      socialshare-url="http://dataonpolitics.com/bug-your-congressperson">
        <img class="social_icon" src="../img/icons/tumblr.png" alt="twitter"/>
      </a>
    </md-button>
    <md-button class="md-fab md-mini md-primary" aria-label="Post on Reddit" style="background-color: #f54b00">
      <md-tooltip>Post on Reddit</md-tooltip>
      <a href="#"
      socialshare
      socialshare-provider="reddit"
      socialshare-url="http://dataonpolitics.com/bug-your-congressperson">
        <img class="social_icon" src="../img/icons/reddit.png" alt="reddit"/>
      </a>
    </md-button>
  </div>
  <span flex></span>
</div>
