<span flex></span>
<div id="title_content">
  <a href="/">
    <img src="../img/logo.png" id="logo"/>
  </a>
  <ul id="nav_list">
    <li><a href="/tools" class="nav_links">tools</a></li>
    <li class="seperators">&#8226;</li>
    <li><a href="/blog" class="nav_links">blog</a></li>
    <li class="seperators">&#8226;</li>
    <li><a href="/about" class="nav_links">about</a></li>
  </ul>
  <ul id="social_media">
    <li>
      <md-button class="md-icon-button" aria-label="Follow On Twitter">
        <md-tooltip>Follow on Twitter</md-tooltip>
        <a href="https://twitter.com/DataOnPolitics" target="blank">
          <img class="social_icon" src="../img/icons/twitter.png" alt="twitter"/>
        </a>
      </md-button>
    </li>
    <li>
      <md-button class="md-icon-button" aria-label="Like On Facebook">
        <md-tooltip>Like on Facebook</md-tooltip>
        <a href="https://www.facebook.com/dataonpolitics" target="blank">
          <img class="social_icon" src="../img/icons/facebook.png" alt="facebook"/>
        </a>
      </md-button>
    </li>
    <li>
      <md-button class="md-icon-button" aria-label="Follow On Pinterest">
        <md-tooltip>Follow on Pinterest</md-tooltip>
        <a href="https://www.pinterest.com/dataonpolitics/" target="blank">
          <img class="social_icon" src="../img/icons/pintrest.png" alt="pintrest"/>
        </a>
      </md-button>
    </li>
    <li>
      <md-button class="md-icon-button" aria-label="Follow On Tumblr">
        <md-tooltip>Follow on Tumblr</md-tooltip>
        <a href="https://www.tumblr.com/blog/dataonpolitics" target="blank">
          <img class="social_icon" src="../img/icons/tumblr.png" alt="tumblr"/>
        </a>
      </md-button>
    </li>
  </ul>
</div>
<span flex></span>
